$bg1: #06040f;
$bg2: #131121;
$bg3: #171628;
$bg4: #242234;
$bg5: #363445;
$bg6: #4b4958;

$color1a: #1e73dc;
$color1b: #4f8ad1;
$color1c: #3064a4;
$color1d: #245796;

$color2a: #1f2bdb;
$color2b: #4f58d1;
$color2c: #2f37a3;
$color2d: #242c96;

$color3a: #1fc8db;
$color3b: #50c5d2;
$color3c: #19808c;
$color3d: #126e79;

$color4a: #1fdb61;
$color4b: #4fd17d;
$color4c: #198c42;
$color4d: #127836;

$error-color: #e74c3c;

$textcolor: #e7e7e7;
$textcolor2: #d0d0d0;
$textcolor3: #b9b9b9;
