$bg1: #06090f;
$bg2: #0b1120;
$bg3: #172133;
$bg4: #1e2a3d;
$bg5: #24304a;

$color1-lightest: #ccffe3;
$color1-lighter: #8dffc3;
$color1-light: #43ffa1;
$color1: #15df7d;
$color1-dark: #13a15d;
$color1-darker: #107442;
$color1-darkest: #0e2017;

$color2-lightest: #fff1e6;
$color2-lighter: #ffd8bb;
$color2-light: #ffb171;
$color2: #ff8500;
$color2-dark: #cc6600;
$color2-darker: #894100;
$color2-darkest: #662600;

$textcolor: #d9d9d9;

$arrow-size: 0.5rem;

$card-border: 1px solid $bg4;
$card-background: $bg3;
$card-hover-background: $bg4;
$card-background-gradient: radial-gradient(circle at 50% 100%, $bg4 0%, $bg3 100%);



.scrollbar {
  // Scrollbar styling
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color1;
    border: 2px solid $bg3;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-buttons {
    display: none;
  }

  scrollbar-width: thin;
  scrollbar-color: $color1 transparent;


}
